
:host{
  display:block;
  position:absolute;
  height:100%;
  width:100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: calc(100% - 64px);
  width: 100%;
  display: block;
  position: absolute;
}

body {
  overflow: hidden;
}

.ListComponent > div > div:nth-child(2) {
  height: calc(100% - 117px);
}