
:host{
  display:block;
  position:absolute;
  height:100%;
  width:100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: calc(100% - 64px); /* 64 */
  width: 100%;
  display: block;
  position: absolute;
}

body {
  overflow: hidden;
}
.ListComponent {
    height: calc(50vh - 32px) !important;
}

.ListComponent .MuiPaper-elevation2 {
  box-shadow: none;
}
.ListComponent > div > div:nth-child(2) {
  height: calc(100% - 40px);
}